    <%= form_for(@issue_group, :html => { :class => "form-horizontal" }) do |f| %>
      <%= render 'shared/errors', object: @issue_group %>

      <div class="form-group">
        <%= f.label :title, :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :title, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :description, :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_area :description, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <%= f.submit :class => "btn btn-primary" %>
        </div>
      </div>

    <h2>Repos related to this group</h2>
    <%= f.fields_for :repos do |builder| %>
        <%= render 'repo_fields', f: builder %>
    <% end %>
    <div class="more-repos">&nbsp;</div>

    <h2>Choose what repos to relate to this Group</h2>
    <ol>
      <% @repos.list_all.each do |r|  %>
        <li>
            <%= r.name %> </br>
            <%= r.description %> </br>
            <%= r.url %> </br>
            <%
                values = Repo.new()
                values.name = r.name
                values.fullname = r.full_name
                values.url = r.url
            %>
            <%= link_to_add_repo "Add Repo", f, :repos, values %> </br>
        </li>
    <% end %>
    </ol>
<% end %>
