<h1 class="text-center">Edit User Profile</h1>
<div class="row">
  <div id="edit_profile_form" class="span4">
    <%= form_for @user, :as => :profile, :url => "/profiles/#{@user.id}", method: "put" do |f| %>
        <%= render 'shared/errors', object: @user %>
        <div id="member">
          <fieldset>
            <div class="control-group">
              <label class="control-label"><%= f.label :email %></label>
              <div class="controls">
                <%= f.email_field :email %>
              </div>
            </div>
           </fieldset>
            <div id='submit'> <%= f.submit "Update User", :class => "btn btn-primary" %>  | <%= link_to "Back", '/profiles' %></div>
        </div>
    <%end%>
  </div>
</div>